# Node & tool caches
**/node_modules/
.nyc_output/
.cache/
**/.cache/**
.parcel-cache/
.verdaccio_storage/
.eslintcache

# Build targets
/target/
dist/
lib/
parcel-bundle-reports/
sourcemap-info.json

# Editors/IDE
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# keep personal files ignored
.vscode/launch.json
.vscode/tasks.json
.idea/
*.swp
*.swo
*~

# Minified bundles
*.min.js

# Logs
logs/
*.log
log.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage / transient test outputs
coverage/
*.lcov

# Temp
tmp

# Other
**/MANIFEST.json
**/meta.json
**/graph.json
**/repo.json
**/*.map
**/*.zip
**/*.tar.gz
